:root {
    --page-background: white;
    --text-color: black;
    --header-bar-background: #ebebeb;
    --header-bar-background-hover: #cecece;
    --header-bar-link-color: #2e2e2e;
    --header-bar-border: #c0c0c0;
    --font-family: Roboto, Helvetica;
}
