{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | {% endif %}Joe Wildfong</title>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicons/favicon-196x196.png">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav id="header-bar">
      {{ macros::header_bar_item(title="Home", permalink="/")}}
      {% set base_section = get_section(path="_index.md") %}
      {% for section_path in base_section.subsections %}
      {% set nav_section = get_section(path=section_path) %}
      {{ macros::header_bar_item(title=nav_section.title, permalink=nav_section.permalink) }}
      {% endfor %}
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
  </body>
</html>
